{{monthList.value}}
<select onchange={{action "setMonth" value="target.value"}} class="month" aria-label="Month">
  {{#each monthList as |m|}}
    {{#if (eq month m.key)}}
      <option selected="selected" value="{{m.key}}">{{m.value}}</option>
    {{else}}
      <option value="{{m.key}}">{{m.value}}</option>
    {{/if}}
  {{/each}}
</select>
<input class="year" type="text" onchange={{action "setYear" value="target.value"}} value={{year}} placeholder="YYYY" aria-label="Year">
