<fieldset>
<legend><h2>{{entry.block.label}}</h2></legend>

{{#if entry.block.note}}
  <p class="note">{{sanitize-html entry.block.note}}</p>
{{/if}}

{{#each entry.block.options as |opt index|}}
  <label>
    {{check-box value=opt.value groupValue=entry.value}}
    {{opt.label}}
    {{#if opt.note}}&mdash; {{sanitize-html opt.note}}{{/if}}
  </label>
{{/each}}
</fieldset>

{{entry-error-messages entry=entry}}
